	img{
			width:200px;
			margin: 10px}

		.nombreClass{
			color: deepskyblue;
			font-size: 30px;}
		
		a {
			color: deepskyblue;
			font-size: 25px;}

		.descripcionClass{
			  font-size: 20px; }

		p{
			
			font-size: 20px;
		}
